{% extends "base.twig" %}

{% block content %}

<h1>Import SAML 2.0 XML Metadata</h1>

<form method="post" action="/edit">
  <p>Paste in SAML 2.0 XML Metadata for the entity that you would like to add.</p>
  <textarea id="editarea" cols="50" rows="5" name="xmlmetadata"></textarea>
  <input type="submit" id="import-submit" name="metasubmit" value="Import metadata" />
</form>

<p style="float: right"><a href="/module.php/metaedit/">Return to entity listing</a></p>

{% endblock %}
